body {
    background: #973D97;
    background: -webkit-linear-gradient(to bottom, #9216A1, #C36464);
    background: linear-gradient(to bottom, #9216A1, #C36464);
    color: #FFFFFF !important;
}

.AdventureLinesTank {    
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url(https://www.bamilla.com/patterns/images/Adventure_Lines_Tank_1.jpg);
}
.AdventureLaceTee {      
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url(https://www.bamilla.com/patterns/images/Adventure_Lace_Tee_1.jpg);
}
.PalmhusTee {            
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url(https://www.bamilla.com/patterns/images/Palmhus_Tee_1.jpg);
}
.TangramAdventureShawl { 
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url(https://www.bamilla.com/patterns/images/Tangram_Adventure_Shawl_1.jpg);
}

.item-selector input {
    margin:0;
    padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.item-selector input:checked + .label-pattern {
    margin:0;
    padding:0;
    box-shadow: 0px 0px 15px lightgray;
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}

.item-selector input:active + .label-pattern {
    opacity: 1;
}

.label-pattern {
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:150px;
    height:150px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(2) grayscale(0) opacity(.5);
       -moz-filter: brightness(2) grayscale(0) opacity(.5);
            filter: brightness(2) grayscale(0) opacity(.5);
}

.label-pattern:hover {
    -webkit-filter: brightness(1) grayscale(.5) opacity(1);
       -moz-filter: brightness(1) grayscale(.5) opacity(1);
            filter: brightness(1) grayscale(.5) opacity(1);
}

.input-custom {
    border: none !important;
    box-shadow: none !important;
    background: none !important;
    color: #9216A1 !important;
    font-weight: bold !important;
}

.input-group-icon {
    display: flex;
    align-items: center;
    padding: .75rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #9216A1;
    text-align: center;
    white-space: nowrap;
    background-color: none;
    border: none;
}

.btn-no-style, .btn-no-style:active {
    border: none !important;
    box-shadow: none !important;
}

.form-text-light {
    margin-top: 0.25rem;
    font-size: .875em;
    color: #d3d3d3;
}